In [29]:
import avro.schema
import pandas as pd
from avro.datafile import DataFileReader, DataFileWriter
from avro.io import DatumReader, DatumWriter
import collections

schema = avro.schema.Parse(open("user.avsc", "r").read())

User = collections.namedtuple("User", 'name favorite_number favorite_color')
u1 = User(name="Herminio", favorite_number=40, favorite_color="Orange")
writer = DataFileWriter(open("users.avro", "wb"), DatumWriter(), schema)
writer.append({"name": "Alyssa", "favorite_number": 256})
writer.append({"name": "Ben", "favorite_number": 7, "favorite_color": "red"})
writer.append(u1._asdict())
writer.close()

reader = DataFileReader(open("users.avro", "rb"), DatumReader())
userlist = []
for user in reader:
    userlist.append(user)
reader.close()

In [30]:
userlist

[{'favorite_color': None, 'favorite_number': 256, 'name': 'Alyssa'},
 {'favorite_color': 'red', 'favorite_number': 7, 'name': 'Ben'},
 {'favorite_color': 'Orange', 'favorite_number': 40, 'name': 'Herminio'}]

In [31]:
df = pd.DataFrame(userlist)

In [32]:
df

  favorite_color  favorite_number      name
0           None              256    Alyssa
1            red                7       Ben
2         Orange               40  Herminio

In [33]:
df.set_index("name", inplace=True)

In [35]:
df.style

In [18]:
df.favorite_color

name
Alyssa    None
Ben        red
Name: favorite_color, dtype: object

In [36]:
import seaborn as sns

cm = sns.light_palette("green", as_cmap=True)

s = df.style.background_gradient(cmap=cm)
s

In [37]:
df.style.bar(subset=['favorite_number'], color='#d65f5f')

In [43]:
df.style.set_properties(**{'max-width': '120px','font-family': 'Menlo','font-size': '11px'})

In [79]:
from IPython.display import HTML

styles = [
    dict(selector="th", props=[("font-size", "12px"),
                               ("text-align", "left"), 
                               ("font-family","Proxima Nova"),
                               ("border-bottom", "1px solid #ddd"),
                               ("border-top", "1px solid #fff"),
                               ("border-right", "1px solid #fff"),
                               ("border-left", "1px solid #fff")
                               ]),
    dict(selector="td", props=[("font-size", "12px"),
                               ("text-align", "left"), 
                               ("font-family","Proxima Nova"),
                               ("border-bottom", "1px solid #ddd"),
                               ("border-top", "1px solid #fff"),
                               ("border-right", "1px solid #fff"),
                               ("border-left", "1px solid #fff")
                              ]),
    dict(selector="table", props=[("font-size", "12px"),
                               ("text-align", "left"), 
                               ("font-family","Proxima Nova"),
                               ("border", "0"),
                               ("outline", "none"),
                               ("border-collapse", "collapse")
                              ])
]
html = (df.style.set_table_styles(styles))
html